.selectedPage a{
    text-decoration: underline;
}

nav {
    background-color: #000;
    padding: .5em;

    position: sticky;
    top: 3px;
    width: 100%;

    border-radius: 30px;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;

    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}

nav a {
    color: #fff;
    text-decoration: none;
    padding: .5em 1em;
}

nav a:hover {
    background-color: white;
    color: black;
    border-radius: 5px;
}

body {
    color: white;
    background-color: #232323;
    padding: .75em;
}

.border{
    border: white 2px solid;
    width:fit-content;
    padding: 5px;
}