section{
    border: white 2px solid;
    border-radius: 10px;
    padding: 5px;
    width: 1075px;
    margin: 6px;

    /*Aligns to center */
    text-align: center;
}

section img{
    width: 350px;
    height: 350px;
    border: white 2px solid;
    border-radius: 10px;
}

p{
    padding: 5px;
    border: white 1px solid;
    border-radius: 4px;
    text-align: justify;
    margin: 3px;
}

.profilePic{
    border-radius: 50%;
    width: 75px;
    height: 75px;
    border: white 1px solid;
    object-fit: cover;
    object-position: center;
}

.divSpecial{
    display: flex;
    align-items: center; 
    gap: 8px;
    width: 1070px;
}

.Holder{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}