p {
    padding-left: 12px;
    padding-right: 12px;
}

form{
    border: white 2px solid;
    border-radius:10px;
    margin: 3px;
    max-width:750px;
}

form input{
    margin: 3px;
    padding: 2px;
}

form button{
    margin-bottom: 10px;
    margin-top: 5px;
}

table{
    border-radius: 10px;
    padding: 5px;
    margin: 5px;
}

.formP {
  margin: 3px;
}

.formP label {
  display: inline-block;
  width: 80px;
  font-weight: 600;
}